body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar {
  height: 100%;
  width: 275px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-nav > * {
    color: white;
    font-size: 40px;
    position: relative;
    left: 15px !important;
    -o-transition:all .2s ease-in;
-   webkit-transition:all .2s ease-in;
    transition: all .2s ease-in;
    padding: 5px;
    height: 70px;
}

.sidebar-nav > *:not(#currentUser):hover {
    font-weight: bold;
    color: white;
}

.sidebar-nav {
    width: 250px;
    margin-right: 34px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


#logbutton {
   --bordercolor: #ff7272;
    top: 20px;
}

.sidebar-nav > a {
    --bordercolor: #1fc3ff;
    text-decoration: none;

      box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#home {
    font-size: 50px;
    position: relative;
    left: 50px;
    top: 30px;
    color: black;
    margin-right: 100px;
    width: 400px;
    text-align: center;
    height: 900px;
}

.patientDetails {
    position: relative;
    left: 450px;
}

.content:not(.emergencyform) {
    position: relative;
    left: 350px;
    width: 500px;
}

.emergencyform {
    position: relative;
}

input[type=number], [type=text], textarea {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

button {
    border: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;
     background-color: #c0bfbf;
}

button a {
    text-decoration: none;
    color: black;
    inherit: black
}

button a:hover {
    text-decoration: none;
    inherit: black;
}

input[type=submit] {

    border: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #c0bfbf;
    transition: 0.3s;
}

button:hover {
    background-color: #b2b0b0;
  }

input[type=submit]:hover {
    background-color: #b2b0b0;
  }

table {
    table-layout: fixed;
    word-wrap: break-word;
    position: relative;
}

.loginpage {
    position: relative;
}

.patientList {
    position: relative;
    top: 130px;
    left: 30px;
    width: 900px;
}

.editPatientButton {
    background-color: green;
    position: relative;
    top: 30px;
    left: 40px;
}
