.sidebar-nav > *:not(#currentUser) {
    font-size: 40px;
    position: relative;
    left: 15px !important;
    -o-transition:all .2s ease-in;
-   webkit-transition:all .2s ease-in;
    transition: all .2s ease-in;
    display: grid;
    grid-template-columns: 6;
    grid-gap: 10%;
    padding: 5px;
    height: 70px;
    color: var(--textcolor);
    border: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: var(--bordercolor);
}

.sidebar-nav:nth-child(3) {
    color: inherit;
  text-decoration: none;
}

.sidebar-nav > *:not(#currentUser):hover {
    background-color: var(--bordercolor);
}

#logbutton {
   --bordercolor: #ff7272;
}

.sidebar-nav > a {
    --bordercolor: #1fc3ff;
    text-decoration: none;
}

#home {
    font-size: 50px;
    position: absolute;
    left: 50px;
    top: 30px;
    color: white;
    width: 500px;
   right: 90px;
    text-align: center;
}

.editPatientButton {
    position: relative;
    left: 275px;
    bottom: 50px;
    font-size: 26px;
}

.content {
    position: relative;
    left: 175px;
}

input[type=number], [type=text], textarea {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #c0c0c0;
}

table {
    table-layout: fixed;
    word-wrap: break-word;

        position: relative;
    bottom: 200px;
    left: 100px;
}

body {
    margin: 3vw;
}

.title {
            position: absolute;
    bottom: 330px;
    left: 100px;
}