{% extends "base_generic.html" %}
{% load auth_extras %}

{% block content %}
    {% if test_list %}
<h3>Bill for: {{patient.first_name}} {{patient.last_name}}</h3>
<h3>Due Date: {{patient.bill_due_date}}</h3>
<br>
<h4>Number of Nights Stayed: {{patient.nights_stayed}}</h4>
<h4>Cost Per Night: $150</h4>

<br>
<h4>Tests: </h4>
           {% for test in test_list %}
           <li>
             <a >{{test.get_test_display}}: ${{test.cost}} </a>
           </li>
     {%  endfor %}
     {% endif %}

<br>

<h4>Medicine: </h4>
           {% for med in medication_list %}
           <li>
             <a >{{med.get_medicine_display}}: ${{med.cost}} </a>
           </li>
     {%  endfor %}

<br>
<h4>Total cost of overnight stay: ${{night_cost}}</h4>
<h4>Total Test Cost: ${{total_test_cost}}</h4>
<h4>Total Medicine Cost: ${{total_med_cost}}</h4>
<h1>Total Cost: ${{total_cost}}</h1>



{% endblock %}