{% extends "base_generic.html" %}

{% block content %}
  <h1>Patient Details</h1>

    <h2>Name</h2>
    <h3>First name {{ patient.first_name }}</h3>
    <h3>Last name {{ patient.last_name }}</h3>
     <h3>Date of Birth {{ patient.date_of_birth }}</h3>
<h3>Height {{ patient.height }}</h3>
<h3>Weight {{ patient.weight }}</h3>
<h3>Heart Rate {{ patient.heart_rate }}</h3>
<h3>Blood Pressure (Upper) {{ patient.blood_pressure_upper }}</h3>
<h3>Blood Pressure (Lower) {{ patient.blood_pressure_lower }}</h3>
<h3>Religious Restrictions {{ patient.religious_restriction }}</h3>
<h3>Doctor Notes {{ patient.doctor_note }}</h3>
<h3>Nurse Notes {{ patient.nurse_note }}</h3>
<h3>Number of Nights Stayed {{ patient.nights_stayed }}</h3>
<h3>Drug Usage {{ patient.drug_usage }}</h3>
<h3>Discharge Instructions {{ patient.discharge_instructions }}</h3>
<h3>Gender {{ patient.gender_options }}</h3>
<h3>Gender {{ patient.gender_options }}</h3>
<h3>Race {{ patient.race }}</h3>
<h3>Sexually Activity {{ patient.sexual_active }}</h3>
<h3>IV {{ patient.IV }}</h3>
<h3>Blood Type {{ patient.blood_type }}</h3>
{% endblock %}