{% extends "base_generic.html" %}

{% block content %}
  <h1>Patient Details</h1>

    <h2>Name</h2>
    <h3>First name {{ patient.first_name }}</h3>
    <h3>Last name {{ patient.last_name }}</h3>
     <h3>Date of Birth {{ patient.date_of_birth }}</h3>
<h3>Height {{ patient.height }}</h3>
<h3>Weight {{ patient.weight }}</h3>
<h3>Heart Rate {{ patient.heart_rate }}</h3>
<h3>Blood Pressure (Upper) {{ patient.blood_pressure_upper }}</h3>
<h3>Blood Pressure (Lower) {{ patient.blood_pressure_lower }}</h3>
<h3>Religious Restrictions {{ patient.religious_restriction }}</h3>
<h3>Doctor Notes {{ patient.doctor_note }}</h3>
<h3>Nurse Notes {{ patient.nurse_note }}</h3>
<h3>Number of Nights Stayed {{ patient.nights_stayed }}</h3>
<h3>Drug Usage {{ patient.drug_usage }}</h3>
<h3>Discharge Instructions {{ patient.discharge_instructions }}</h3>
<h3>Gender {{ patient.gender_options }}</h3>
<h3>Gender {{ patient.gender_options }}</h3>
<h3>Race {{ patient.race }}</h3>
<h3>Sexually Activity {{ patient.sexual_active }}</h3>
<h3>IV {{ patient.IV }}</h3>
<h3>Blood Type {{ patient.blood_type }}</h3>

<h3>Medication: </h3>
    {% if medication_list %}
           {% for med in medication_list %}
           <li>
             <a >{{med.get_medicine_display}}</a>
           </li>
     {%  endfor %}
    {% else %}
    <p>THis patient is not on any medication..</p>
     {% endif %}

<h3>Emergency Contacts: </h3>
    {% if emergency_contact_list %}
           {% for contact in emergency_contact_list %}
           <li>
             <a >Name: {{contact.first_name}} {{contact.last_name}} Phone number: {{contact.phone_number}}</a>
           </li>
     {%  endfor %}
    {% else %}
    <p>THis patient has no emergency contacts.</p>
     {% endif %}

{% endblock %}